<section>
    <div class="container order-main">
        <div class="order">
            <div class="left-section">
                <div class="signup-title">
                    <h1>Enter your delivery Details</h1>
                </div>
                <form action="/signup" method="POST">
                    <label for="">Address</label>
                    <input type="text" name="address" class="form-control">
                    <label for="">Pincode</label>
                    <input type="text" name="pincode" class="form-control">
                    <label for="">Mobile</label>
                    <input type="text" name="mobile" class="form-control">
                </form>
            </div>
            <div class="right-section">
                <div class="right-box">
                    <div class="total">
                        <h4>Total Amout:₹10000</h4>
                        <hr>
                    </div>
                    <div class="payment-method">
                        <h6>Payment method</h6>
                        <div class="radio">
                            <input type="radio" name="method" id="">
                            <h6>COD</h6>
                        </div>
                        <div class="radio">
                            <input type="radio" name="method" id="">
                            <h6>Online payment</h6>
                        </div>
                        <div class="btn-div">
                            <a href="#" class="btn btn-primary">checkout</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>