<section>
    <div class="container" style="height: 90vh; display: flex;align-items: center;justify-content: center;flex-direction: column;">
        <h1 style="color: rgb(17, 114, 17);">Order Placed<span><i class="far fa-check-circle"></i></span></h1>
        <a href="/order-list" style="text-decoration: none;">More details</a>
    </div>
</section>