<section>
    <div class="container order-main">
        <div style="margin-bottom: 6em;">
            <h1>Order Details</h1>
        </div>
        <form action="" id="checkout-form" class="order">
            <div class="left-section">
                <div class="signup-title">
                    <h1>Enter your delivery Details</h1>
                </div>
                <div>
                    <label for="">Address</label>
                    <input type="text" name="address" class="form-control">
                    <label for="">Pincode</label>
                    <input type="text" name="pincode" class="form-control">
                    <label for="">Mobile</label>
                    <input type="text" name="mobile" class="form-control">
                    <input type=" text" name="user" id="" value="{{user._id}}" hidden>
                </div>
            </div>
            <div class="right-section">
                <div class="right-box">
                    <div class="total">
                        <h4>Total Amout:₹{{total}}</h4>
                        <hr>
                    </div>

                    <div class="payment-method">
                        <h6>Payment method</h6>
                        <div class="radio">
                            <input type="radio" name="method" id="" value="COD">
                            <h6>COD</h6>
                        </div>
                        <div class="radio">
                            <input type="radio" name="method" id="" value="Online payment">
                            <h6>Online payment</h6>
                        </div>
                        <div class="btn-div">
                            <button type="submit" class="btn btn-primary">checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    $("#checkout-form").submit((e) => {
    e.preventDefault()
    $.ajax({
        url:'/place-order',
        method:'post',
        data:$('#checkout-form').serialize(),
        success : (response) => {
            if(response.status){
                location.href = '/order-placed'
            }
        }
    })
})
</script>