<section>
    <div class="container order-main">
        <div style="margin-bottom: 6em;">
            <h1>Order Details</h1>
        </div>
        <form action="" id="checkout-form" class="order">
            <div class="left-section">
                <div class="signup-title">
                    <h1>Enter your delivery Details</h1>
                </div>
                <div>
                    <label for="">Address</label>
                    <input type="text" name="address" class="form-control">
                    <label for="">Pincode</label>
                    <input type="text" name="pincode" class="form-control">
                    <label for="">Mobile</label>
                    <input type="text" name="mobile" class="form-control">
                    <input type=" text" name="user" id="" value="{{user._id}}" hidden>
                </div>
            </div>
            <div class="right-section">
                <div class="right-box">
                    <div class="total">
                        <h4>Total Amout:₹{{total}}</h4>
                        <hr>
                    </div>

                    <div class="payment-method">
                        <h6>Payment method</h6>
                        <div class="radio">
                            <input type="radio" name="method" id="" value="COD">
                            <h6>COD</h6>
                        </div>
                        <div class="radio">
                            <input type="radio" name="method" id="" value="Online payment">
                            <h6>Online payment</h6>
                        </div>
                        <div class="btn-div">
                            <button type="submit" class="btn btn-primary">checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                if (response.codSuccess) {
                    location.href = '/order-placed'
                } else {
                    console.log('razorpaymnet started...............................................................')
                    razorpayPayment(response)
                }
            }
        })
    })
    function razorpayPayment(order) {
        console.log('in pay ', order.id, order.amount)
        var options = {
            "key": 'rzp_test_yvVAYeNLtfadPJ',
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Texki",
            "description": "Test Transaction",
            "image": "images/product-images/605446c42d7da26a9111f584.jpg",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                console.log(response)
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Muhsin Neyyathur",
                "email": "muhsinny333@gmail.com",
                "contact": "8606113002"
            },
            "notes": {
                "address": "Puthanathani malappuram"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment, order) {
        console.log('in verify')
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success : (respose) => {
                if(respose.status){
                    location.href = '/order-placed'
                }else{
                    alert('payment failed')
                }
            }
        })
    }
</script>