<section class="signup-form">
    <div class="signup-title">
        <h1>Signup</h1>
    </div>
    <form action="/signup" method="POST">
        <label for="">Name</label>
        <input type="text" name="name" class="form-control">
        <label for="">Email address</label>
        <input type="email" name="email" class="form-control">
        <label for="">Password</label>
        <input type="password" name="password" class="form-control">
        <div class="btn-area">
            <div class="no-account">
                <a href="/login">Already have account?</a>
            </div>
            <div class="btn-sur">
                <button type="submit" class="btn btn-primary">Signup</button>
            </div>
        </div>
    </form>
</section>