.products {
    display: flex;
    justify-content: center;
}
.products .row {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}
.products .row .card{
    margin-top: 2em;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 3px;
    max-height: 26em;
    padding-bottom: 0;
}
.products .row .card .image{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}
.products .row .card img{
    width: 80%;

}
.products .row .card .card-body{
    display: flex;
    flex-direction: column;
    max-height: 6em;
    width: 100%;
}
.products .row .card .add-btn {
    padding: 10px;
}
.navbar-collapse{
    display: flex;
    justify-content: space-between;
}
.navbar-collapse .btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9%;
}
.navbar-collapse .btns h6{
    font-weight: bold;
    color: white;
}